<configuration>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="bagetter" value="http://172.179.151.190:5000/v3/index.json" allowInsecureConnections="true" />
	</packageSources>
</configuration>